@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
body {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

/*PCで無効*/
.pc_hid {
  display: none;
}

.top {
  padding-top: 120px;
}
@media (max-width: 767px) {
  .top {
    padding-top: 80px;
  }
}
.top .top__slide {
  width: calc(100% - 120px);
  margin: 0 auto;
}
@media (max-width: 767px) {
  .top .top__slide {
    height: 400px;
    width: calc(100% - 40px);
  }
}
@media (max-width: 767px) {
  .top .top__slide img {
    border-radius: 16px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
}
.top .top__contents {
  display: flex;
  width: calc(100% - 200px);
  justify-content: space-around;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .top .top__contents {
    margin-left: 23px;
    position: relative;
    bottom: 12px;
  }
}
@media (max-width: 767px) {
  .top .top__contents {
    display: block;
    width: calc(100% - 40px);
  }
}
.top .top__contents .top__news {
  width: 538px;
  padding-top: 21px;
}
@media (max-width: 767px) {
  .top .top__contents .top__news {
    width: 100%;
    position: relative;
    padding-top: 0px;
  }
}
.top .top__contents .top__news .top__news-contents {
  display: flex;
}
@media (max-width: 767px) {
  .top .top__contents .top__news .top__news-contents {
    padding-top: 18px;
  }
}
.top .top__contents .top__news .top__news-contents .title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.8;
  position: relative;
}
.top .top__contents .top__news .top__news-contents .title::after {
  position: absolute;
  content: "NEWS";
  color: #1391E6;
  font-size: 12px;
  bottom: 0;
  padding-left: 16px;
  line-height: 2.6;
}
.top .top__contents .top__news .top__news-contents .past__news {
  margin-left: auto;
  font-size: 12px;
  line-height: 3;
  color: #888;
  position: relative;
}
.top .top__contents .top__news .top__news-contents .past__news::after {
  position: absolute;
  content: "";
  height: 1px;
  background: #888;
  width: 132px;
  bottom: 10px;
  left: 0;
}
.top .top__contents .top__news .news__content {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  transition: all 0.5s;
}
.top .top__contents .top__news .news__content:hover {
  color: #1391E6;
}
.top .top__contents .top__news .news__content:hover::after {
  background: #1391E6;
  right: 0;
}
.top .top__contents .top__news .news__content:hover .news__img {
  right: 0;
}
.top .top__contents .top__news .news__content:hover .news__img::after {
  background-color: #1391E6;
}
.top .top__contents .top__news .news__content .news__img {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  transition: all 0.5s;
}
.top .top__contents .top__news .news__content .news__img::after {
  position: absolute;
  content: "";
  width: 85%;
  height: 85%;
  background: #000;
  top: 1px;
  left: 1px;
  z-index: 8;
}
.top .top__contents .top__news .news__content .news__img img {
  position: relative;
  z-index: 10;
}
.top .top__contents .top__news .news__content .news__date {
  font-size: 12px;
  line-height: 3;
  padding-left: 12px;
}
.top .top__contents .top__news .news__content .news__title {
  font-size: 14px;
  padding-left: 24px;
  line-height: 2.5;
}
.top .top__contents .top__news .schedule__sp {
  display: none;
}
@media (max-width: 767px) {
  .top .top__contents .top__news .schedule__sp {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    position: relative;
    top: -22px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .top .top__contents .top__news .schedule__sp {
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    position: relative;
    top: -22px;
    margin: 0 auto;
  }
}
.top .top__contents .top__schedule .schedule {
  width: 477px;
  position: relative;
  bottom: 25px;
}
@media (max-width: 767px) {
  .top .top__contents .top__schedule .schedule {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .top .top__contents .top__schedule .schedule {
    display: none;
  }
}

.concept {
  position: relative;
  overflow: hidden;
  padding: 180px 0 200px;
}
.concept::before {
  position: absolute;
  content: "";
  background-image: url(https://mskwork.org/wp/wp-content/themes/ptf/img/concept-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 725px;
  width: 102%;
  top: 0;
  left: 32%;
}
@media (max-width: 767px) {
  .concept::before {
    left: 5%;
    height: 82.2vw;
    background-size: cover;
    top: 100px;
  }
}
@media (max-width: 767px) {
  .concept {
    padding: 160px 0 0;
  }
}
.concept .concept__wrap {
  display: flex;
  position: relative;
}
@media (max-width: 767px) {
  .concept .concept__wrap {
    flex-direction: column-reverse;
  }
}
.concept .concept__wrap .concept__img {
  height: 100%;
  overflow: hidden;
  width: 50%;
  height: 438px;
}
@media (max-width: 767px) {
  .concept .concept__wrap .concept__img {
    width: 90%;
    height: 61.2vw;
    margin-right: auto;
  }
}
.concept .concept__wrap .concept__img img {
  height: 438px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  border-radius: 20px 20px 0 0px;
}
@media (max-width: 767px) {
  .concept .concept__wrap .concept__img img {
    height: 61.2vw;
  }
}

.concept__contents {
  margin-left: 95px;
  padding-top: 36px;
  width: 33%;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .concept__contents {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .concept__contents {
    margin: 0 auto;
    padding-top: 0;
    width: 89%;
  }
}
.concept__contents .concept__contents-title {
  color: #1391E6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 2.5;
}
@media (max-width: 767px) {
  .concept__contents .concept__contents-title {
    font-size: 11px;
  }
}
.concept__contents h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.5;
  padding-top: 22px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .concept__contents h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .concept__contents h2 {
    font-size: 20px;
    line-height: 1.6;
    padding-top: 16px;
  }
}
.concept__contents .concept__contents-text {
  font-size: 14px;
  line-height: 1.7;
  padding-top: 36px;
}
@media (max-width: 767px) {
  .concept__contents .concept__contents-text {
    padding-top: 32px;
  }
}
.concept__contents .about__btn {
  color: #1391E6;
  background: #ffffff;
  border: solid 1px #1391E6;
  width: 176px;
  height: 43px;
  border-radius: 24px;
  text-align: center;
  line-height: 2.6;
  position: relative;
  margin-top: 40px;
  transition: all 0.5s;
}
.concept__contents .about__btn:hover {
  cursor: pointer;
  background: #1391E6;
  color: #ffffff;
}
.concept__contents .about__btn:hover::after {
  background: url(https://mskwork.org/wp/wp-content/themes/ptf/img/icon-arrow-white-btn.png) no-repeat center center/contain;
}
.concept__contents .about__btn::after {
  position: absolute;
  content: "";
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background: url(https://mskwork.org/wp/wp-content/themes/ptf/img/icon-arrow-blue-btn.png) no-repeat center center/contain;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .concept__contents .about__btn {
    margin: 40px auto;
  }
}

@media (max-width: 767px) {
  .recommend {
    padding-top: 167px;
  }
}

.recommend__contents {
  display: flex;
  justify-content: space-around;
  padding: 60px 0 140px;
}
@media (max-width: 767px) {
  .recommend__contents {
    display: block;
    padding: 60px 0 100px;
  }
}
.recommend__contents .recommend__card {
  width: 276px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .recommend__contents .recommend__card {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .recommend__contents .recommend__card {
    margin: 0 auto;
  }
  .recommend__contents .recommend__card:nth-child(n+2) {
    padding-top: 60px;
  }
}
.recommend__contents .recommend__card .recommend__top {
  text-align: center;
}
.recommend__contents .recommend__card .recommend__icon {
  padding-top: 15.6px;
  text-align: center;
}
.recommend__contents .recommend__card .recommend__title {
  position: relative;
}
.recommend__contents .recommend__card .recommend__title::after {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #1391E6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-width: 24px 24px 24px 24px;
}
.recommend__contents .recommend__card .recommend__title p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.08em;
  color: #ffffff;
  background: #1391E6;
  border-radius: 22px;
  text-align: center;
  padding: 3px 0;
  position: relative;
  top: -20px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .recommend__contents .recommend__card .recommend__title p {
    font-size: 16px;
  }
}
.recommend__contents .recommend__card .recommend__text {
  font-size: 14px;
  line-height: 1.7;
}
.recommend__contents .recommend__card .recommend__text .recommend__red {
  color: #ee5a6d;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .recommend__contents .recommend__card .recommend__text {
    font-size: 12px;
  }
}

.announce__bg-top {
  width: 100%;
  height: 15.7vw;
  position: relative;
}
.announce__bg-top::before {
  position: absolute;
  content: "";
  background-image: url("https://mskwork.org/wp/wp-content/themes/ptf/img/bg-announce_top.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  width: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.announce__bg-bottom {
  width: 100%;
  height: 7.61vw;
  position: relative;
}
.announce__bg-bottom::before {
  position: absolute;
  content: "";
  background-image: url("https://mskwork.org/wp/wp-content/themes/ptf/img/bg-bottom.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  width: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.announce__bg {
  background-color: #DFF1FD;
}

@media (max-width: 767px) {
  .title__announce {
    padding-top: 29.12px;
  }
}

.announce__contents {
  padding: 60px 0 94px;
}
@media (max-width: 767px) {
  .announce__contents {
    padding-top: 40px;
  }
}
.announce__contents .announce__contents-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .announce__contents .announce__contents-card {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card {
    display: block;
  }
}
.announce__contents .announce__contents-card .card__general {
  width: 45%;
  background-size: cover;
  height: 288px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
.announce__contents .announce__contents-card .card__general::before {
  position: absolute;
  content: "";
  background-image: url("https://mskwork.org/wp/wp-content/themes/ptf/img/medical_1.png");
  background-size: cover;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.announce__contents .announce__contents-card .card__general::after {
  position: absolute;
  content: "";
  background: #000;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  opacity: 0.2;
  border-radius: 20px;
  z-index: 100;
}
.announce__contents .announce__contents-card .card__general:hover::before {
  transform: scale(1.1, 1.1);
}
.announce__contents .announce__contents-card .card__general:hover::after {
  opacity: 0.4;
  cursor: pointer;
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card .card__general {
    width: 100%;
    height: 209.82px;
  }
}
.announce__contents .announce__contents-card .card__special {
  width: 45%;
  background-size: cover;
  height: 288px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}
.announce__contents .announce__contents-card .card__special::before {
  position: absolute;
  content: "";
  background-image: url("https://mskwork.org/wp/wp-content/themes/ptf/img/medical_2.png");
  background-size: cover;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 100;
  transition: all 0.3s ease 0s;
}
.announce__contents .announce__contents-card .card__special::after {
  position: absolute;
  content: "";
  background: #000;
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  opacity: 0.2;
  border-radius: 20px;
  z-index: 100;
}
.announce__contents .announce__contents-card .card__special:hover::before {
  transform: scale(1.1, 1.1);
}
.announce__contents .announce__contents-card .card__special:hover::after {
  opacity: 0.4;
  cursor: pointer;
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card .card__special {
    width: 100%;
    height: 209.82px;
    margin-top: 20.24px;
  }
}
.announce__contents .announce__contents-card .card__border {
  border-radius: 20px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  position: relative;
}
.announce__contents .announce__contents-card .card__border:hover {
  border: solid 1px #ffffff;
  z-index: 120;
}
.announce__contents .announce__contents-card .card__title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.1;
  color: #ffffff;
  padding-top: 93px;
  position: relative;
  z-index: 998;
}
.announce__contents .announce__contents-card .card__title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card .card__title::after {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card .card__title {
    padding-top: 62.86px;
    font-size: 20px;
  }
}
.announce__contents .announce__contents-card .card__text {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.7;
  color: #ffffff;
  padding-top: 42px;
  position: relative;
  z-index: 998;
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-card .card__text {
    font-size: 12px;
  }
}
.announce__contents .announce__contents-text {
  background: #ffffff;
  font-size: 14px;
  line-height: 2;
  padding: 32px 40px 32px;
  margin-top: 61.2px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .announce__contents .announce__contents-text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .announce__contents .announce__contents-text {
    padding: 20px;
    margin-top: 20px;
  }
}
.announce__contents .announce__contents-text .announce__red {
  color: #ee5a6d;
}

.blog {
  padding: 160px 0;
}
@media (max-width: 767px) {
  .blog {
    padding: 100px 0;
  }
}
.blog .blog__contents {
  padding: 80px 0 60px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents {
    padding: 48px 0 40px;
    display: block;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents {
    padding: 48px 0 40px;
    display: block;
  }
}
.blog .blog__contents .blog__card {
  width: 300px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.blog .blog__contents .blog__card:not(:nth-child(3n+1)) {
  margin-left: 50px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card:not(:nth-child(3n+1)) {
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card:not(:nth-child(3n+1)) {
    margin: 20px 0 0 0;
  }
}
.blog .blog__contents .blog__card:nth-child(n+4) {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card:nth-child(n+4) {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card {
    display: flex;
    width: calc(100% - 160px);
    height: 100%;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
}
.blog .blog__contents .blog__card .entry-icon-new {
  position: absolute;
  content: "NEW";
  width: 60px;
  height: 60px;
  color: #ffffff;
  background: #ee5a6d;
  text-align: center;
  line-height: 3.8;
  left: -10px;
  top: -10px;
  border-radius: 99px;
  z-index: 101;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .entry-icon-new {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .entry-icon-new {
    width: 40px;
    height: 40px;
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .blog__img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .blog__img {
    width: 80%;
  }
}
.blog .blog__contents .blog__card .blog__img img {
  border-radius: 20px 20px 0 0;
  height: 188px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .blog__img img {
    border-radius: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    min-width: 315px;
    max-width: 315px;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .blog__img img {
    border-radius: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
}
.blog .blog__contents .blog__card .blog__text {
  width: 100%;
}
.blog .blog__contents .blog__card .blog__tag {
  position: absolute;
  height: 28px;
  font-size: 11px;
  color: #ffffff;
  background: #1391E6;
  text-align: center;
  line-height: 2.7;
  top: 174px;
  left: 14px;
  border-radius: 99px;
  padding: 0 10px;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .blog__tag {
    top: 2px;
    left: 330px;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .blog__tag {
    font-size: 10px;
    width: 56px;
    height: 18px;
    line-height: 1.9;
    top: 9px;
  }
}
.blog .blog__contents .blog__card .blog__title {
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 24px 0;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .blog__title {
    padding-top: 36px;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .blog__title {
    font-size: 14px;
    line-height: 1.4;
    padding: 33px 0 0 10px;
    margin-right: auto;
  }
}
.blog .blog__contents .blog__card .blog__date {
  font-size: 11px;
  line-height: 3.45;
  padding-left: 24px;
  color: #888;
}
@media (min-width: 768px) and (max-width: 1050px) {
  .blog .blog__contents .blog__card .blog__date {
    position: absolute;
    bottom: 0;
    line-height: normal;
  }
}
@media (max-width: 767px) {
  .blog .blog__contents .blog__card .blog__date {
    padding-left: 10px;
  }
}
.blog .blog__btn {
  color: #1391E6;
  background: #ffffff;
  border: solid 1px #1391E6;
  width: 274px;
  height: 43px;
  border-radius: 24px;
  line-height: 2.6;
  position: relative;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s;
}
.blog .blog__btn:hover {
  cursor: pointer;
  background: #1391E6;
  color: #ffffff;
}
.blog .blog__btn:hover::after {
  background: url(https://mskwork.org/wp/wp-content/themes/ptf/img/icon-arrow-white-btn.png) no-repeat center center/contain;
}
@media (max-width: 767px) {
  .blog .blog__btn {
    width: 262px;
  }
}
.blog .blog__btn::after {
  position: absolute;
  content: "";
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url(https://mskwork.org/wp/wp-content/themes/ptf/img/icon-arrow-blue-btn.png) no-repeat center center/contain;
  transition: all 0.5s;
}